<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="NeedToDeleteProcessedFile" value="true" />
		<add key="GenerateRandomNames" value="false" />
		<add key="MaxParallelRequests" value="20" />

		<add key="ProcessMode" value="100" />

		<!--Autoscan And AutoConvert ProcessMode-->
		<add key="AutoScanFolderPath" value="S:\Фотоальбом" />

		<!--PreSelectedFolders ProcessMode-->
		<add key="FromFullFolderPath" value="C:\Users\Stanislav\Desktop\folder" />
		<add key="ToFullFolderPath" value="C:\Users\Stanislav\Desktop\folder" />

		<add key="ProcessMode" value="100" />
		<add key="FromFullFolderPath" value="C:\Users\Stanislav\Desktop\folder" />
		<add key="ToFullFolderPath" value="C:\Users\Stanislav\Desktop\folder" />

		<add key="ProcessingImageFormats" value=".heic, .webp, .jfif" />
	</appSettings>

</configuration>